{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SenaFood - Iniciar Sesión</title>
    <link rel="stylesheet" href="{% static 'gestion/css/styles.css' %}">
</head>
<body class="auth-body">

    <div class="login-container">
        <img src="{% static 'gestion/img/logo.jpg' %}" alt="Logo SenaFood" class="login-logo">
        <div class="brand-text">SENA FOOD</div>

        <h2>Iniciar Sesión</h2>
            {% if error %}
                <div style="background-color: #f8d7da; color: #721c24; padding: 10px; border-radius: 5px; margin-bottom: 15px; border: 1px solid #f5c6cb; font-size: 14px;">
            ⚠️ {{ error }}
                </div>
            {% endif %}
        
        <form method="POST">
            {% csrf_token %}
            <input type="email" name="email" placeholder="Email" value="{{ email_previo }}" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <button type="submit">ENTRAR</button>
        </form>

        <div class="footer">
            ¿No tienes cuenta? <a href="/registro/">Regístrate aquí</a>
        </div>
    </div>

</body>
</html>