{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SenaFood - Registro</title>
    <link rel="stylesheet" href="{% static 'gestion/css/styles.css' %}">
</head>
<body class="auth-body"> 
        <div class="login-container"> <img src="{% static 'gestion/img/logo.jpg' %}" alt="Logo SenaFood" class="login-logo">
        <div class="brand-text">SENA FOOD</div>
        
        <h2>Crear Cuenta</h2>
        
        <form method="POST">
            {% csrf_token %}
    
            <input type="text" name="nombre" placeholder="Nombre" required>
            <input type="text" name="apellido" placeholder="Apellido" required>
    
            <div style="text-align: left; margin-bottom: 5px; font-size: 13px; color: #666;">Identificación</div>
            <select name="tipo_identificacion" required style="width: 100%; padding: 10px; margin-bottom: 15px; border: 1px solid #ddd; border-radius: 5px;">
                <option value="CC">Cédula de Ciudadanía (CC)</option>
                <option value="TI">Tarjeta de Identidad (TI)</option>
                <option value="CE">Cédula de Extranjería (CE)</option>
            </select>
    
            <input type="text" name="numero_identificacion" placeholder="Número de identificación" required>
    
            <input type="text" name="telefono" placeholder="Número de teléfono" required>
            <input type="email" name="email" placeholder="Correo electrónico" required>
            <input type="password" name="password" placeholder="Contraseña segura" required>
    
            <button type="submit">REGISTRARME</button>
        </form>
        
        <div class="footer">
            ¿Ya tienes cuenta? <a href="{% url 'login' %}">Inicia sesión</a>
        </div>
    </div>
</body>
</html>